.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &_content{
        width: 60%;
        &_items{

            &_item{
                padding: 8px;
                padding-right: 64px;
                background-color: $lightgrey;
                border-radius: 16px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &>img{
                    width: 15%;
                }
                &>div{
                    width: 10%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }

    &_proceed{
        width: 25%;
        margin-right: 16px;
        text-align: center;
        &>div{
            
            background-color: $lightgrey;
            padding: 16px;
            border-radius: 16px;
            &>div{
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            &>button{
                margin-top: 16px;
            }
        }
        &>h1{
            text-align: left;
        }
    }
}