footer{
    background-color: $darkgreen;
    margin-left:-150px ;
    margin-right:-150px ;
}


.footer_list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    
    .div1 { 
        color: $yellow;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
}
    .div2 { 
        color: $yellow;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        
    }
    .div3 { 
        color: $yellow;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }
    p{
        color: $yellow;
        font-size:medium;
    }