.home{

    &_homeimage{
        display: none;
    }

    &_searchbar>input{
        width: 100%;
        background-color: $lightgrey;
        border: none;
        color: $text_second;
        height: 30px;
        border-radius: 60px;
        box-shadow: $box-shadow;
    }

    &_boxesinfos{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &>div{
            background-color: $lightgrey;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 16px;
            border-radius: 8px;
            box-shadow: $box-shadow;

            &>img{
                margin: auto;
                width: 50px;
            }

            &>p {
                font-weight: 600;
                color: $darkgreen;
                margin: 12px;
                margin-bottom: 0;
                margin-top: 8px;
            }
        }
    }

    &_slider{
        margin-top: 60px;

        &>img{
            width: 100%;
        }
    }

    &_theones{
        margin-top: 5%;
        &_title{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;

        }
        &_content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.contact{
    margin-left:-150px ;
    margin-right:-150px ;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $lightgreen;
    
    &>img{
        width: 50%;
        display: none;
    }
    &>div{
        width: 50%;
        margin: auto;
        margin-left: 150px;
        padding: 62px;
        padding-left: 0;
        &>p{
            color: $lightgrey;
        }
        &>h2{
            color: $lightgrey;
        }

        &>div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &>p{
                padding: 12px;
                border-radius: 60px;
                background-color: $lightgrey;
                color: $darkgreen;
            }
        }
        
        
    }

}

@media screen and (min-width: 500px)
{
    .home{
        &_homeimage{
            display: flex ;
            position: relative;
            width: 98vw;
            margin-left:-150px ;
            margin-right:-150px ;
            margin-bottom: 60px;
            &>img{
                width: 100%;
            }

            &_text{
                position: absolute;
                text-align: right;
                width: 50%;
                right: 15%;
                
                top: 32px;
                &>p{
                    color: $lightgrey;
                    font-size: 20px;
                }
                &>h2{
                    color: $lightgrey;
                    font-size: 100px;
                }
            }
        }
        
        &_slider{
            display: none;
        }

        &_searchbar{
            display: none;
        }

        &_boxesinfos{
            margin-top: 60px;
            justify-content: space-between;
            &>div{
                flex-direction: row ; 
                align-items: center;
                width: 20%;
                justify-content: space-between;
                padding: 16px;
                padding-right: 40px ;
    
                &>img{
                    margin: auto;
                    width: 50px;
                }
    
                &>p {
                    margin: 12px;
                    margin-bottom: 0;
                    margin-top: 0 ;
                }
            }
        }
    }

    .contact{
        margin: 0 !important;
        margin-top: 10% !important;
        width: 100%;
        
        &>img{
            display: block;
        }
        &>div{
            width: 100%;
        }
    }
}