.navbar_desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;

    &_right {
        width: 50%;

        &>ul{
            list-style-type: none;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;  

            &>li>a{
                position: relative;
                &>p{
                    border-radius: 64px;
                    background-color: $yellow;
                    top: 16px;
                    right: -8px;
                    position: absolute;
                    margin: 0;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 4px;
                    height: 14px;
                    width: 14px;
                    color: $lightgrey;
                    text-align: center;
                    align-self: center;
                }
            }
        }
    }

    &_left{
        width: 20%;
        
        &>img{
            width: 100%;
        }
    }
}

.navbar_smartphone{
    &_top{
        z-index: 100;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_left{
            width: 90px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &>i{
                align-self: center;
                color: $lightgreen;
            }
        }

        &_logo{
            align-self: center;
            width: 50%;
            height: auto;

            &>img{
                width: 100%;
            }
        }
    }
    &_bot{
        z-index: 100;
        background-color: $darkgreen;
        position: fixed;
        width: 80vw;
        height: 60px;
        top: 0;
        margin-top: 90vh;
        border-radius: 40px;

        &_list{
            height: 100%;
            align-items: center;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            width: 80%;
            margin: auto;
            color: $lightgrey;
        }
    }
}

@media screen and (min-width: 500px)
{
    .navbar_smartphone{
        display: none;
    }

}

@media screen and (max-width: 500px)
{
    .navbar_desktop{
        display: none;
    }
}

