.profil{
    display: flex;
    flex-direction: column;
    &>h1{

    }

    &_btns{
        width: 30%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_content{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &_searchbar{
        width: 100%;
        background-color: $lightgrey;
        border: none;
        color: $text_second;
        height: 20px;
        border-radius: 60px;
        box-shadow: $box-shadow;
    }

    &_stars{
        display: flex;
        flex-direction: row;
    }
}