.shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_filter{
        padding: 16px;
        width: 25%;
        background-color: $lightgrey;
        position: sticky;
        margin-top: 30px;

        &_prix{

        }
    }

    &_content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
    }
}