<%- include('./Components/header') %>

<h1>Votre compte</h1>

<h1 class="login_title">Connectez vous !</h1>
<div class="login_form">
    <input type="text" placeholder="Email" />
    <input type="password" placeholder="Mot de passe" />
</div>
<div class="login_text">
    <p  >Pas encore de compte ? <a class="login_link" href="">Inscrivez vous</a></p>
</div>
<div class="login_button">
  <button class="btn btn-primary">Connection</button>  
</div>

<%- include('./Components/footer') %>