<%- include('./Components/header') %>

<div class="profil">
    <h1>Vos plantes</h1>

    <div class="profil_btns">
        <a href="" class="btn btn-primary">Ajouter une plante</a>
        <a href="" class="btn btn-secondary">Diagnostic</a>
    </div>

    <input type="text" class="profil_searchbar" placeholder="Cherchez parmis vos plantes">

    <div class="profil_content">
        
    </div>
</div>

<%- include('./Components/footer') %>