@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: "Poppins";
}

p, a, h1, h2 {
  color: #0C3B2E;
}

body {
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin: 0;
}

.btn {
  height: 30px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}
.btn-primary {
  background-color: #FFBA00;
  color: #F6F6F6;
  border: none;
}
.btn-secondary {
  border: solid 3px #FFBA00;
  color: #FFBA00;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}

input[type=text]::placeholder {
  padding-left: 12px;
}

@media screen and (min-width: 500px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  .btn {
    font-size: 18px;
    height: auto;
  }
}
.navbar_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}
.navbar_desktop_right {
  width: 50%;
}
.navbar_desktop_right > ul {
  list-style-type: none;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar_desktop_right > ul > li > a {
  position: relative;
}
.navbar_desktop_right > ul > li > a > p {
  border-radius: 64px;
  background-color: #FFBA00;
  top: 16px;
  right: -8px;
  position: absolute;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  height: 14px;
  width: 14px;
  color: #F6F6F6;
  text-align: center;
  align-self: center;
}
.navbar_desktop_left {
  width: 20%;
}
.navbar_desktop_left > img {
  width: 100%;
}

.navbar_smartphone_top {
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_smartphone_top_left {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_smartphone_top_left > i {
  align-self: center;
  color: #6D9773;
}
.navbar_smartphone_top_logo {
  align-self: center;
  width: 50%;
  height: auto;
}
.navbar_smartphone_top_logo > img {
  width: 100%;
}
.navbar_smartphone_bot {
  z-index: 100;
  background-color: #0C3B2E;
  position: fixed;
  width: 80vw;
  height: 60px;
  top: 0;
  margin-top: 90vh;
  border-radius: 40px;
}
.navbar_smartphone_bot_list {
  height: 100%;
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 80%;
  margin: auto;
  color: #F6F6F6;
}

@media screen and (min-width: 500px) {
  .navbar_smartphone {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .navbar_desktop {
    display: none;
  }
}
.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_filter {
  padding: 16px;
  width: 25%;
  background-color: #F6F6F6;
  position: sticky;
  margin-top: 30px;
}
.shop_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.home_homeimage {
  display: none;
}
.home_searchbar > input {
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  color: #666666;
  height: 30px;
  border-radius: 60px;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
}
.home_boxesinfos {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home_boxesinfos > div {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
}
.home_boxesinfos > div > img {
  margin: auto;
  width: 50px;
}
.home_boxesinfos > div > p {
  font-weight: 600;
  color: #0C3B2E;
  margin: 12px;
  margin-bottom: 0;
  margin-top: 8px;
}
.home_slider {
  margin-top: 60px;
}
.home_slider > img {
  width: 100%;
}
.home_theones {
  margin-top: 5%;
}
.home_theones_title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.home_theones_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  margin-left: -150px;
  margin-right: -150px;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6D9773;
}
.contact > img {
  width: 50%;
  display: none;
}
.contact > div {
  width: 50%;
  margin: auto;
  margin-left: 150px;
  padding: 62px;
  padding-left: 0;
}
.contact > div > p {
  color: #F6F6F6;
}
.contact > div > h2 {
  color: #F6F6F6;
}
.contact > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact > div > div > p {
  padding: 12px;
  font-size: 16px;
  border-radius: 60px;
  background-color: #F6F6F6;
  color: #0C3B2E;
}
.contact > div > div > input {
  margin: 0;
}

@media screen and (min-width: 500px) {
  .home_homeimage {
    display: flex;
    position: relative;
    width: 98vw;
    margin-left: -150px;
    margin-right: -150px;
    margin-bottom: 60px;
  }
  .home_homeimage > img {
    width: 100%;
  }
  .home_homeimage_text {
    position: absolute;
    text-align: right;
    width: 50%;
    right: 15%;
    top: 32px;
  }
  .home_homeimage_text > p {
    color: #F6F6F6;
    font-size: 20px;
  }
  .home_homeimage_text > h2 {
    color: #F6F6F6;
    font-size: 100px;
  }
  .home_slider {
    display: none;
  }
  .home_searchbar {
    display: none;
  }
  .home_boxesinfos {
    margin-top: 60px;
    justify-content: space-between;
  }
  .home_boxesinfos > div {
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    padding: 16px;
    padding-right: 40px;
  }
  .home_boxesinfos > div > img {
    margin: auto;
    width: 50px;
  }
  .home_boxesinfos > div > p {
    margin: 12px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .contact {
    margin: 0 !important;
    margin-top: 10% !important;
    width: 100%;
  }
  .contact > img {
    display: block;
  }
  .contact > div {
    width: 100%;
  }
}
.card {
  z-index: 10;
  margin-top: 32px;
  position: relative;
  width: 45%;
  background-color: #F6F6F6;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
}
.card_img {
  max-height: 250px;
  width: fit-content;
  align-self: center;
}
.card_content {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.card_content_title {
  font-size: 12px;
}
.card_content_price {
  font-size: 10px;
  color: #FFBA00;
}
.card_icon {
  z-index: 200;
  position: absolute;
  top: 16px;
  right: 8px;
}

@media screen and (min-width: 500px) {
  .card {
    width: 20%;
  }
  .card_content_title {
    font-size: 16px;
    margin: 0;
  }
  .card_content_price {
    font-size: 16px;
    margin: 0;
  }
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_content {
  width: 60%;
}
.cart_content_items_item {
  padding: 8px;
  padding-right: 64px;
  background-color: #F6F6F6;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cart_content_items_item > img {
  width: 15%;
}
.cart_content_items_item > div {
  width: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.cart_proceed {
  width: 25%;
  margin-right: 16px;
  text-align: center;
}
.cart_proceed > div {
  background-color: #F6F6F6;
  padding: 16px;
  border-radius: 16px;
}
.cart_proceed > div > div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_proceed > div > button {
  margin-top: 16px;
}
.cart_proceed > h1 {
  text-align: left;
}

.map_searchbar {
  padding: 20px;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}
.map_searchbar > input {
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  color: #666666;
  height: 30px;
  border-radius: 60px;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
}

#map {
  width: 80vw;
  height: 80vh;
}

.btn_map {
  padding: 20px;
  justify-content: space-between;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.login_title {
  display: flex;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 24px;
  padding: 10px;
  border: 0;
  width: 75%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.login_text {
  display: flex;
  justify-content: center;
}

.login_button {
  display: flex;
  justify-content: center;
}

.login_link {
  text-decoration: none;
  color: #FFBA00;
  font-weight: bold;
}

.profil {
  display: flex;
  flex-direction: column;
}
.profil_btns {
  width: 30%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profil_content {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profil_searchbar {
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  color: #666666;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
}
.profil_stars {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #0C3B2E;
  margin-left: -150px;
  margin-right: -150px;
  margin-top: 60px;
  position: static;
  bottom: 0;
}

.footer_list {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div1 {
  color: #FFBA00;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.div1 > p {
  color: #FFBA00;
  font-size: medium;
}

.div2 {
  color: #FFBA00;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.div2 > p {
  color: #FFBA00;
  font-size: medium;
}

.div3 {
  color: #FFBA00;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.div3 > p {
  color: #FFBA00;
  font-size: medium;
}

.product {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
}
.product_img {
  width: 40%;
  height: auto;
  max-height: 600px;
  background-color: #6D9773;
}
.product_infos {
  width: 60%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.product_infos_title {
  display: flex;
  flex-direction: column;
}
.product_infos_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.product_infos_icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 48px;
  width: 15%;
  box-shadow: 0px 2px 5px 2px rgba(36, 36, 36, 0.1);
  background-color: #F6F6F6;
  border-radius: 16px;
}
.product_infos_icons > div > p {
  color: #6D9773;
  margin: 0;
  margin-top: 28px;
}
.product_infos_icons > div > i {
  color: #6D9773;
}
.product_infos_bottom {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.product_infos_bottom > div {
  width: 10%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.product_infos_bottom_add {
  padding: 8px;
  border-radius: 16px;
  background-color: #F6F6F6;
}
.product_infos_bottom_add > p {
  margin: 0;
}
.product_interest {
  margin-bottom: 48px;
}

@media screen and (max-width: 500px) {
  .product {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
